 @import url('./__logo/header__logo.css');

 .header {
  max-width: 882px;
  min-height: 74px;
  border-bottom: 1px solid #545454;
  margin: auto;
  padding-top: 45px;
 }

 @media screen and (max-width: 696px) {
  .header {
    padding: 0;
  }
}